.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu > .nav-item > .nav-link.active{
    background-color: #00408a !important;
}
.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu > .nav-item > .nav-link span{
    color: #ffa901;
}
.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu > .nav-item .sub-group-menu > .nav-item .nav-link.active{
    background-color: #00408a !important;
}
.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu > .nav-item .sub-group-menu > .nav-item .nav-link{
    color: #ffa901;
}
.sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu .nav-item.active .nav-link span{
    color: #ffa901;
}

/* Custom css */
.btn-design{
    float: right;
    margin-bottom: 15px;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 600;
}

.submit-button{
    font-size: 16px;
    padding: 7px 15px;
    font-weight: 600;
}
.action-button{
    margin-right: 15px;
}
.action-dropdown{
    min-width: 110px !important;
}
